@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: rgb(44, 44, 44);
  --nav-color: white;
  --brand: rgb(183, 255, 111);
  --brand2: #B7FF6F;
  --pg-color:rgb(110, 110, 110);
  --bd-color:rgb(212, 212, 212);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

html.dark {
  --background: #3a3939;
  --foreground: white;
  --nav-color: rgb(46, 45, 45);
  --brand2: white;
  --pg-color:rgb(180, 180, 180);
}

img, svg {
  transition: filter 0.35s ease, opacity 0.35s ease;
}

/* Smooth Theme Transition */
* {
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease,
    fill 0.35s ease,
    stroke 0.35s ease;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: #383737;
   transition: background-color 0.35s ease, color 0.35s ease;
}
.icon-filter {
  filter: brightness(0) invert(0);
  transition: filter 0.5s ease;
}

.dark .icon-filter {
  filter: brightness(0) invert(1);
}

.icon-filter:hover {
  filter: brightness(1) invert(0);
}

.scrollbar-custom {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 15px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 6px;
}

.scrollbar-sec {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-sec::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-sec::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 6px;
}






