@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
  --nav-color: white;
  --brand: rgb(183, 255, 111);
  --brand2: rgb(183, 255, 111);
  --pg-color:rgb(145, 145, 145);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html.dark {
  --background: #3a3939;
  --foreground: white;
  --nav-color: rgb(46, 45, 45);
  --brand2: white;
  --pg-color:rgb(202, 202, 202);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: #383737;
}
